/* Root */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --purple-100: #F8EEFF;
    --purple-600: #8B6990;
    --purple-950: #301534;
    --violet-600: #AD28EB;

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
}

/* General */
body {
    margin: 0;
    padding: var(--spacing-300);
    background: url(images/background-pattern-mobile.svg) no-repeat top;
    background-color: var(--purple-100);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    margin: 0;
}

/* Main Section */
main {
    padding: var(--spacing-300);
    background-color: var(--white);
    border-radius: var(--spacing-100);
    box-shadow: 0px 32px 56px 0 rgba(80, 0, 118, 0.1);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

/* Heading Div */
#heading-div {
    display: flex;
    gap: 24px;
    align-items: center;
}

#heading-div img {
    height: 24px;
}

#heading-div h1 {
    font-size: 32px;
    font-weight: bold;
}

/* Accordion Div */
#accordion-div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
}

.faq-div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.question-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-300);
    text-align: left;
}

.question-btn img {
    height: 30px;
}